<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
       
		<div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B">CRM - Reassign Salesperson</h2>
        </div>
     	 <p class="oe_spaced oe_span12 text-justify">
	 		The Odoo CRM feature enhancement app <strong>bt_crm_lead_transfer_reassign</strong> from </strong> <strong> <a href="http://www.broadtech-innovations.com/" target="_blank">BroadTech IT Solutions</a>,</strong> helps to manage lead assigning processes more efficiently.  Every lead record or pipeline can be linked to salesperson who is assumed as the responsible person. 
	 			
		 </p>
		<div class="oe_span10 oe_centered">
	        <div class="oe_row_img oe_centered">
	                <img class="oe_picture oe_screenshot" src="image1.png">
	        </div>
    </div>
     <p class="oe_span12 text-justify" >
	 The sales manager can analyse this information using the group by feature in Odoo. 
	 If the manager wishes to remove responsibility of certain leads from a particular person during his absence or relieving and assign or distribute those leads among multiple sales persons, a single window solution is not available by default. 
	  </p>	
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
        
	
	  <p class="oe_span12  text-justify">
	  The "Transfer Lead" menu from this app allows managers to select a particular salesperson, review his assignments and mark new assignees one by one
	  
	  </p>
	<div class="oe_span10 oe_centered">
	        <div class="oe_row_img oe_centered">
	                <img class="oe_picture oe_screenshot" src="image2.png">
	      </div>
    </div>
    
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
		
     	 <p class="oe_span12  text-justify">
		Once the re assign list is confirmed, the "Assign" action would transfer selected leads to one or multiple sales persons based on the mapping .
		 </p>
		 
		<div class="oe_span10 oe_centered">
	        <div class="oe_row_img oe_centered">
	                <img class="oe_picture oe_screenshot" src="image3.png">
	        </div>
    	</div>
    
    </div>
       <p class='oe_mt32 '>
    For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
</section>